
/* Card Component */
.icon-container{
  display: flex;
  justify-content: space-evenly;
}

.card-container{
  text-align: center;
}

.img-container{
  text-align: center;
  margin-top: 1.5em;
}

/* Main */

main{
  padding: 0 5% 0 5%;
}

.heading-container{
  display: flex;
}

.main-headings{
  margin-left: 0.5em;
  text-transform: uppercase;
}

/* App */

.App{
  display: flex;
  margin: 3%;

}